@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', sans-serif;
}

.hero-pattern {
  background-color: #f6f8f8;
  background-image: radial-gradient(#11d4b4 0.5px, transparent 0.5px), radial-gradient(#11d4b4 0.5px, #f6f8f8 0.5px);
  background-size: 20px 20px;
  background-position: 0 0, 10px 10px;
  opacity: 0.1;
}

.dark .hero-pattern {
  background-color: #10221f;
  background-image: radial-gradient(#11d4b4 0.5px, transparent 0.5px), radial-gradient(#11d4b4 0.5px, #10221f 0.5px);
}
